body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #333;
}

header {
  background-color: #ffc400;
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 30px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  background: white;
  color: white;
  text-align: center;
  padding: 10px;
}
